@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');

/* Remove the 300 and 700 weights, just use 400 */

body, * {
  font-family: "Kalam", cursive;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 1.2em; /* Use size instead of weight for emphasis */
}