@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

.kalam-regular {
  font-family: "Kalam", cursive !important;
  font-weight: 400 !important;
}

.kalam-bold {
  font-family: "Kalam", cursive !important;
  font-weight: 700 !important;
}

/* Force consistent rendering on all elements */
input, button, p, div, span {
  font-family: inherit;
}