@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
}

body {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-regular {
  font-family: "Caveat", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.kalam-bold {
  font-family: "Caveat", cursive !important;
  font-weight: 700 !important;
  font-style: normal !important;
}