/* @import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-synthesis: none !important;
  -webkit-font-smoothing: antialiased;
}

body, * {
  font-family: "Patrick Hand", cursive !important;
  font-style: normal !important;
}

.kalam-regular {
  font-family: "Patrick Hand", cursive !important;
  font-weight: 400 !important;
}

.kalam-bold {
  font-family: "Patrick Hand", cursive !important;
  font-weight: 700 !important;
  font-size: 1.1em;
} */